#header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
#input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    padding: 20px;
}

#profForm input,
#profForm button {
    margin-bottom: 15px;
    width: 250px;        
    padding: 10px;       
} 
